@model AspNetMvcHomework1.Models.ArticleList
@{
    ViewBag.Title = "Home Page";
}
@foreach (AspNetMvcHomework1.Models.Article article in Model.Articles)
{
    <article>
        <header class="articleHeader text-center">
            <span class="articleTitle">@article.Topic</span>
        </header>
        <p class="articlePublished">Published at: @article.PublishedAt</p>
        <hr />
        <div class="articleBody text-justify">
            <p><small>@article.ShortDescription</small></p>
            @if (article.Content.Length > 200)
            {
                <p>
                    @article.Content.Substring(0, 200) . . . .
                </p>
                using (Html.BeginForm("Article", "Home"))
                {
                    <div>@Html.Hidden("articleID", article.ArticleID)</div>
                    <p> <input type="submit" value="More" class="btn btn-warning" /> </p>
                }
            }
        </div>
    </article>
}